<!DOCTYPE html>
<html>

	<head>
		<title>
			Growler
		</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="CSS/style.css">
		<!-- <link rel="stylesheet" type="text/css" href="/grid.css"> -->


	</head>

	<body>

		<header>
			<h1>The Next Twitter</h1>		
			<div class= "container-fluid">
				<form class="navbar-form" role="search">
	  			
					
								
						
						<div class="form-group">
						    <input type="text" class="form-control" placeholder="Time to Growl">
						</div>								
							
					
					  
					<button type="submit" class="btn btn-default">Submit</button>

				</form>
			<!-- </div> -->
			</div>
		</header>

		

		<div class = "container">

			<div class="section group">
				
<!-- empty left column, spoanning 3/12 -->

				<div class= "col-md-3">
    				<div class= "row"></div>
				</div>
<!-- Middle Posts column 6/12-->
				<div class= "col-md-6">
    				<div class= "row">
						<ol>
							<li>this is an ordered list	</li>
				    		<li>this is an ordered list	</li>
							<li>this is an ordered list	</li>	
						
						</ol>
					</div>
				</div>


<!-- empty right column, spoanning 3/12 -->
			<div class= "col-md-3">
    			<div class= "row"></div>
						<!-- 3 of 12 -->
			</div>

				
			</div>

		</div>

	</body>

</html>

