<!DOCTYPE html>
<html>

	<head>
		<title>
			Growler
		</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/grid.css">


	</head>

	<body>

		<header>

			<div class = "center_div">
			
				<form class="navbar-form navbar-left" role="search">
	  			
					<div class="section group">

						<div class="row">
							<div class="col span_1_of_2">
								<h1>
									The Next Twitter
								</h1>				
							</div>

							<div class="row">
								<div class="col span_1_of_2">
									<div class="form-group">
						    			<input type="text" class="form-control" placeholder="Search">
									</div>								
								</div>
							</div>

						</div>	
					</div>
					  
					<button type="submit" class="btn btn-default">Submit</button>

				</form>
			</div>
			
		</header>

		<div class = "container">

			<div class="section group">
				
				

				 <!-- empty left column, spoanning 3/12 -->

				<div class="col span_3_of_12">
				
					<div class= "row">
						3 of 12
					</div>
				</div>

			


				<div class="col span_6_of_12">
					<div class= "row">
								6 of 12
					</div>

					<!-- <ol>
						this is an ordered list	
					</ol>
 -->
				</div>



				<div class="col span_3_of_12">
				
					<div class= "row">
						3 of 12
					</div>
					
				</div>

				
			</div>

		</div>

	</body>

</html>

