<!DOCTYPE html>

<html>
<head>
	<title> 
		Growler
	</title>
	
	<link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>

	<!-- <h1> The next Twitter </h1> -->

<%= yield %>

	<!-- <footer>
		Copyright NatalieAndRohit
	</footer>
 -->
</body>
</html>
