<!DOCTYPE html>
<html>

	<head>
		<title>

		</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="grid.css">


	</head>

	<body>

		<header>
			
			<form class="navbar-form navbar-left" role="search">
  				<div class="form-group">
				    <input type="text" class="form-control" placeholder="Search">
				</div>
				  
				<button type="submit" class="btn btn-default">Submit</button>

			</form>
			
		</header>


		<div class="section group">
		
		<div class="col span_3_of_12">
		3 of 12
		</div>

		<div class="col span_6_of_12">
			<ol>
				6 of 12
			</ol>
		</div>

		<div class="col span_3_of_12">
		3 of 12
		
		</div>

	</body>

</html>

